@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        MemeMeUpScotty is released under the GPLv3 license. The source can be downloaded at <a href="https://github.com/ChristopherRWilson/mememeup">https://github.com/ChristopherRWilson/mememeup</a>.</p>

</article>