@model IEnumerable<MemeMeUp.Models.Meme>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="roundbox">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <p>
                    <a href="@Url.Action("Details", "Memes", new { id = item.Id })">
                        <img src="/Uploads/@Html.DisplayFor(modelItem => item.ThumbUrl)" title="@Html.DisplayFor(modelItem => item.Description)" /><hr />
                        <b>@Html.DisplayFor(modelItem => item.Title)</b>
                    </a>
                </p>
            </li>
        }
    </ul>
</div>